.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #556555;
  }
  
  .logo {
    height: 40px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 234px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  